#main{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
   
}

#form-div *{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    padding-top: 10px;
}



#radio-div{
    background-color: aqua;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;;
    
}

#check-div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: coral;
}


